@media screen and (max-width: 1024px){
    
    .nav-links{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .nav-btn-container{
        display: none;
    }
  }
.active{
      background-color: white;
}
.active a{
    color: black;
}